/* List of colors */
:root{
  --platinum: #E1E1E1;
  --sonicSilver: #161616;
  --black:#000000;
  --pumpkin: #F47820;
  --orangePeel: #F99C19;
}


p{
  color: var(--black);
  background-color: var(--platinum);
  opacity: 0.75;
  font-weight: bold;
}